<div id="content">
  <div class="tn-header">
    <div class="tn-user-details">
      <img src="assets/icons/user.png">
      <p class="tn-username tn-clickable"> &#64;{{username}} </p>
    </div>
    <p class="tn-date"> {{comment.comment_date}} </p>
  </div>
  <p class="tn-body"> {{comment.content}} </p>
  <div class="tn-engagement">
    <div class="tn-reply"> reply </div>
    <div class="tn-reaction-container">
      <p class="tn-reaction"> up_votes: {{comment.up_votes}} </p>
      <p class="tn-reaction"> down_votes: {{comment.down_votes}} </p>
    </div>
  </div>
  <tn-comment-reply-list></tn-comment-reply-list>
</div>
