<div id="content">
  <div *ngIf="!isEditing">
    <div class="tn-thread-header">
      <div class="tn-user-details">
        <img src="assets/icons/user/user.png">
        <p class="tn-username tn-clickable"> &#64;{{username}} </p>
      </div>
      <p class="tn-date"> {{comment.comment_date | date:'dd/MM HH:mm'}} </p>
    </div>
    <div class="tn-thread-body">
      <p> {{comment.content}} </p>
      <p *ngIf="!url.includes('/profile')" class="tn-reply tn-clickable" (click)="toggleCreateReply()"> Reply </p>
    </div>
    <tn-interaction-group [comment]="comment"></tn-interaction-group>
  </div>
  <tn-edit-comment *ngIf="isEditing" [comment]="comment" id="comment"></tn-edit-comment>
  <div *ngIf="addReply" class="tn-reply-container">
    <tn-create-reply [comment_id]="comment.id" class="fill-available"></tn-create-reply>
  </div>
  <tn-comment-reply-list *ngIf="!url.includes('/profile')" [comment_id]="comment.id"></tn-comment-reply-list>
</div>
