<div *ngIf="!isEditing" id="thread">
  <div class="tn-thread-header">
    <div class="tn-user-details">
      <img src="assets/icons/user/user.png">
      <ng-component *ngIf="user | async as usr">
        <a [routerLink]="['/profile', usr.username]" class="tn-username tn-clickable"> &#64;{{usr.username}}</a>
      </ng-component>
    </div>
    <p class="tn-date"> {{(thread | async)?.threadDate | date:'dd/MM HH:mm'}} </p>
  </div>
  <div class="tn-thread-body tn-clickable" (click)="loadThread()">
    <h3 class="overflow-1 tn-clickable">{{(thread | async)?.title}}</h3>
    <p class="overflow-2 tn-clickable">{{(thread | async)?.content}}</p>
  </div>
  <ng-component *ngIf="thread | async as th">
    <tn-interaction-group *ngIf="th" [thread]="th"></tn-interaction-group>
  </ng-component>
</div>

<ng-component *ngIf="thread | async as th">
  <tn-edit-thread *ngIf="th" [thread]="th" id="thread"></tn-edit-thread>
</ng-component>
