<div *ngIf="!isEditing" id="thread">
  <div class="tn-thread-header">
    <div class="tn-user-details">
      <img src="assets/icons/user/user.png">
      <a [routerLink]="['/profile', user.username]" class="tn-username tn-clickable"> &#64;{{user.username}}</a>
    </div>
    <p class="tn-date"> {{thread.threadDate | date:'dd/MM HH:mm'}} </p>
  </div>
  <div class="tn-thread-body tn-clickable" (click)="loadThread(thread.id)">
    <h3 class="overflow-1 tn-clickable">{{thread.title}}</h3>
    <p class="overflow-2 tn-clickable">{{thread.content}}</p>
  </div>
  <tn-interaction-group [thread]="thread"></tn-interaction-group>
</div>

<tn-edit-thread *ngIf="isEditing" [thread]="thread" id="thread"></tn-edit-thread>
