<div id="register_content">
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div class="form-group">
      <label for="email"> Email </label>
      <input type="email" class="form-control" placeholder="enter a valid email"
        formControlName="email">
      <span *ngIf="!email.valid && (email.touched || submit)" class="error">
        Please enter a valid email adress.
      </span>
    </div>
    <div class="form-group">
      <label for="username"> Username </label>
      <input type="text" class="form-control" placeholder="choose your username"
        formControlName="username">
        <span *ngIf="!username.valid && (username.touched || submit)" class="error">
          <span *ngIf="username.hasError('minlength')">
            Username must be at least 5 characters long.
          </span>
          <span *ngIf="username.hasError('required')">
            Please provide a username.
          </span>
        </span>
    </div>
    <div class="form-group">
      <label for="password"> Password </label>
      <input type="password" class="form-control" placeholder="choose your password"
        formControlName="password">
        <span *ngIf="!password.valid && (password.touched || submit)" class="error">
          <span *ngIf="password.hasError('minlength')">
            Password must be at least 8 characters long.
          </span>
          <span *ngIf="password.hasError('required')">
            Please provide a password.
          </span>
        </span>
    </div>
    <div class="form-group">
      <label for="confirmPwd"> Confirm Password </label>
      <input type="password" class="form-control" placeholder="confirm your password"
        formControlName="confirmPwd">
        <span *ngIf="registerForm.hasError('notMatched') && confirmPwd.valid && confirmPwd.touched" class="error">
          Passwords do not match.
        </span>
        <span *ngIf="confirmPwd.hasError('required') && (confirmPwd.touched || submit)" class="error">
          Please confirm your password.
        </span>
    </div>
    <div class="form-group" id="terms_containter">
      <input type="checkbox" id="terms" formControlName="terms">
      <label for="terms" id="terms_text">
        I agree to <a href="#">terms and conditions</a>*.
      </label>
    </div>
    <span *ngIf="registerForm.hasError('notChecked') && terms.valid" class="error error-m">
      Please accept terms and conditions.
    </span>
    <span *ngIf="terms.hasError('required') && (terms.touched || submit)" class="error error-m">
      Please accept terms and conditions.
    </span>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" (click)="submit=true"> Register </button>
    </div>
  </form>
</div>