#register_content {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    margin-top: 50px;
}

.form-group {
    width: 400px;
}

#terms_containter{
    display: flex;
}

#terms{
    margin-left: 5px;
}

#terms_text{
    padding-left: 10px;
}

.error-m{
    padding-left: 15px;
}