<div id="content">
  <div class="tn-thread-header">
    <div class="tn-user-details">
      <img src="assets/icons/user/user.png">
      <p class="tn-username tn-clickable"> &#64;{{username}} </p>
    </div>
    <p class="tn-date"> {{reply.comment_date}} </p>
  </div>
  <p class="tn-thread-body"> {{reply.content}} </p>
  <div class="tn-thread-engagement">
    <div class="tn-reaction-container">
      <p class="tn-reaction"> up_votes: {{reply.up_votes}} </p>
      <p class="tn-reaction"> down_votes: {{reply.down_votes}} </p>
    </div>
  </div>
</div>

