<div id="content">
  <div *ngIf="!isEditing">
    <div class="tn-thread-header">
      <div class="tn-user-details">
        <img src="assets/icons/user/user.png">
        <p class="tn-username tn-clickable"> &#64;{{user.username}} </p>
      </div>
      <p class="tn-date"> {{reply.commentDate | date:'dd/MM HH:mm'}} </p>
    </div>
    <p class="tn-thread-body"> {{reply.content}} </p>
    <tn-interaction-group [reply]="reply"></tn-interaction-group>
  </div>
  <tn-edit-reply *ngIf="isEditing" [reply]="reply" id="comment"></tn-edit-reply>
</div>

