<form [formGroup]="replyForm" (ngSubmit)="onCreate()" class="tn-reply-form">
  <div class="form-floating tn-reply-container">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" formControlName="content"></textarea>
    <label for="floatingTextarea">Reply</label>
    
    <div class="tn-reply-btn-container">
      <span *ngIf="content.hasError('required') && (content.touched || submit)" class="error">
        You can not submit an empty reply.
      </span>
      <span></span>
      <button type="submit" class="btn tn-reply-btn" (click)="submit=true"> reply </button>
    </div>
  </div>
</form>