#category_list{
    position: relative;
    top: 25px;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;

    padding-top: 25px;
    padding-left: 10px;
    
    width: 200px;
    height: calc(100vh - 100px - 50px);
    
    background-color: var(--layout-color);
    border: 2px solid black;
    border-left: none;
    color: var(--text-color-light);
}
#category_list::-webkit-scrollbar-thumb{
    background-color: black;
}

.not-found{
    margin: 10px 15px;
}