<!-- Button trigger modal -->
<button type="button" id="register-btn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal">
  Register
</button>

<!-- Modal -->
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="registerModalLabel">Register</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="email" class="form-label">email</label>
            <input type="password" class="form-control" id="email" placeholder="Enter a valid email">
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Choose a username">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Choose a password">
          </div>
          <div class="mb-3">
            <label for="confirmPwd" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPwd" placeholder="Confirm your password">
          </div>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary">Register</button>
      </div>
    </div>
  </div>
</div>