<div id="content">
  <div class="acc-header">
    <div class="tn-user-details">
      <img src="assets/icons/user/user.png" class="tn-icon">
      <div style="display: flex">
        <p class="tn-username"> &#64;{{user.username}} </p>
        <p class="tn-username" *ngIf="this.user.isVerified"> (user verified) </p>
        <p class="tn-username" *ngIf="!this.user.isVerified"> (not verified) </p>
      </div>
    </div>
    <div style="display: flex">
      <p class="tn-date"> Registered: {{user.registerDate | date:'dd/MM HH:mm'}} </p>
      <img *ngIf="isUserProfile()" src="/assets/icons/editing/settings.png" class="tn-icon tn-clickable"
          style="margin-right: 10px;" matTooltip="User Setting">
    </div>
  </div>
  <div class="acc-section">
    <h5 class="acc-section-title"> {{user.username}} Impressions </h5>
    <div class="user-impressions">

    </div>
  </div>
  <div class="acc-section">
    <h5 class="acc-section-title"> {{user.username}} Interactions</h5>
    <div class="user-interactions">

    </div>
  </div>
  <div class="acc-section">
    <h5 class="acc-section-title"> {{user.username}} Threads</h5>
    <div class="user-created-list">
      <p *ngIf="(threads | async)?.length === 0"> {{user.username}} has no threads </p>
      <!-- <div *ngFor="let thread of threads | async" class="tn-thread-list">
        <tn-thread-card [thread]="thread" class="tn-thread"></tn-thread-card>
      </div> -->
    </div>
  </div>
  <div class="acc-section">
    <h5 class="acc-section-title"> {{user.username}} Replies</h5>
    <div class="user-created-list">
      <p *ngIf="comments.length === 0"> {{user.username}} has no replies </p>
      <div *ngFor="let comment of comments" class="tn-thread-list">
        <!-- Make new component User Comment -->
      </div>
    </div>
  </div>
</div>
