#content{
    padding: 20px 50px;
    margin-bottom: 75px;
    border: 2px solid black;
}

#thread_header{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;

    border: 2px solid black;

}
#thread_header img{
    height: 40px;
}

#user_details {
    display: flex;
    align-items: center;

    padding-left: 20px;
}
#username {
    cursor: pointer;
    margin: 0;
    padding-left: 10px;
}

#date_posted {
    display: flex;
    align-items: center;

    padding-right: 20px;
}
#date{
    margin: 0;
}

#thread{
    border: 2px solid black;
}

#thread_title{

}

#thread_content{
    
}

#thread_engagement{
    border: 2px solid black;
}