<div id="content">
  <div id="thread_header">
    <div id="user_details">
      <img src="assets/icons/user.png">
      <p id="username"> &#64;{{username}} </p>
    </div>
    <div id="date_posted">
      <p id="date"> {{thread.thread_date}} </p>
    </div>
  </div>
  <div id="thread">
    <div id="thread_title">
      {{thread.title}}
    </div>
    <div id="thread_content">
      {{thread.content}}
    </div>
  </div>
  <div id="thread_engagement">
    thread engagement
  </div>
  <tn-comment-list id="comment_section"></tn-comment-list>
</div>