<div id="content">
  <div class="tn-header">
    <div class="tn-user-details">
      <img src="assets/icons/user.png">
      <p class="tn-username tn-clickable"> &#64;{{username}} </p>
    </div>
    <p class="tn-date"> {{thread.thread_date}} </p>
  </div>
  <div class="tn-body">
    <h2 id="thread_title"> {{thread.title}} </h2>
    <p> {{thread.content}} </p>
  </div>
  <div class="tn-engagement">
    <div class="tn-reply"> reply </div>
    <div class="tn-reaction-container">
      <p class="tn-reaction"> up_vote </p>
      <p class="tn-reaction"> down_vote </p>
    </div>
  </div>
  <tn-comment-list></tn-comment-list>
</div>