<div id="login_content">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="form-group">
      <label for="username"> Username </label>
      <input type="text" class="form-control" placeholder="enter your username"
        formControlName="username">
    </div>
    <div class="form-group">
      <label for="password"> Password </label>
      <input type="password" class="form-control" placeholder="enter your password"
        formControlName="password">
      <span *ngIf="!accountFound && submit" class="error">
        Account not found.
      </span>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary"> Login </button>
    </div>
  </form>
</div>