/* GLOBAL VARIABLES */
:root{
/* COLOR PALETTE */


/* FONT-FAMILY */


/* FONT-SIZE */


}

/* PRESET */
*{
    box-sizing: border-box;
}

/* GENERAL STYLES */
.btn-black{
    background-color: black;
    color: white;
}

/* SCROLL BAR */
/* Define the styles for the scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: turquoise;
    width: 2px;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

p{
    margin-top: 150px;
}