<div id="thread_header">
  <h3 id="category"> Popular </h3>
  <div id="search_bar">
    <form>
      <input class="form-control" type="text" placeholder="search threads...">
    </form>
  </div>
  <div id="create_group">
    <div class="btn-group">
      <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Create
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">Thread</a></li>
        <li><a class="dropdown-item" href="#">Category</a></li>
        <li><a class="dropdown-item" href="#">Comunity</a></li>
        <!-- <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">TBA</a></li> -->
      </ul>
    </div>
  </div>
</div>