#thread_header {
  display: flex;
  align-items: center;
}

.tn-search-bar {
  flex: 1;
}

.highlight:hover {
  background-color: var(--secondary-color);
}

.tn-icon {
  margin-right: 15px;
}

.search-group {
  display: flex;
}
