#logo{
    flex: 1;
    display: flex;
    justify-content: left;

    padding-left: 20px;
}

#logo img{
    height: 35px;
}

#nav{
    flex: 1;
    display: flex;
    justify-content: center;
}
#nav a{
    padding-left: 10px;
    padding-right: 10px;

    color: white;
    text-decoration: none;
}
#nav a:hover{
    color: var(--accent-color);
}

#profile{
    flex: 1;
    display: flex;
    justify-content: right;

    padding-right: 50px;
}

#dropdown{
    position: relative;
}

#dropdown-btn{
    height:50px;
    width: 50px;

    border-radius: 50%;
    border-style: solid;

    background-image: url("/assets/icons//user/user.png");
    background-size: contain;
    background-color: inherit;
}
#dropdown-btn:hover{
    border-color: red;
}

#dropdown-menu{
    z-index: -1;
    position: absolute;
    right: -5px;
    top: -5px;

    padding: 60px 15px 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    caret-color: transparent;

    border-radius: 15px;
    border-top-right-radius: 25px;

    background-color: grey;
}

.separator{
    margin-top: 5px;
    margin-bottom: 5px;

    height: 3px;
    width: 150%;

    border-radius: 100px;

    background-color: black;

}

ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
