<header class="fixed-top">
    <div class="header-logo-container">
        <a routerLink="/"><img src="assets/logo/logo-no-background.png" class="tn-clickable logo"></a>
    </div>
    <div class="header-nav-container">
        <a class="header-nav-link" *ngIf="isLoggedIn" (click)="loadMyThreads()">My Threads</a>
        <a class="header-nav-link" *ngIf="isLoggedIn" (click)="loadMyFavourites()">My Favourites</a>
    </div>
    <div class="header-profile-container">
        <p *ngIf="isDropdownOpen && isLoggedIn" class="header-username"> Welcome, {{username}} </p>
        <div class="btn-group">
            <img src="/assets/icons/user/user.png" class="tn-clickable header-dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false" (click)="isLoggedIn" (click)="toggleDropdown()">
            <ul *ngIf="!isLoggedIn" class="dropdown-menu dropdown-menu-end header-dropdown">
                <li class="header-spacer"></li>
                <li><a class="dropdown-item header-menu-item" routerLink="/about"> About </a></li>
                <li><a class="dropdown-item header-menu-item" routerLink="/contact"> Contact </a></li>
                <li class="header-spacer"></li>
                <li><a class="dropdown-item header-menu-item" routerLink="/login"> Login </a></li>
                <li><a class="dropdown-item header-menu-item" routerLink="/register"> Register </a></li>
            </ul>
            <ul *ngIf="isLoggedIn" class="dropdown-menu dropdown-menu-end header-dropdown">
                <li class="header-spacer"></li>
                <li><a class="dropdown-item header-menu-item" routerLink="/about"> About </a></li>
                <li><a class="dropdown-item header-menu-item" routerLink="/contact"> Contact </a></li>
                <li class="header-spacer"></li>
                <li><a class="dropdown-item header-menu-item" [routerLink]="['/profile', username]"> Profile </a></li>
                <li><a class="dropdown-item header-menu-item" routerLink="/friends"> Friends </a></li>
                <li><a class="dropdown-item header-menu-item" (click)="logout()"> Logout </a></li>
            </ul>
        </div>
    </div>
</header>
