<header class="fixed-top">
    <div id="logo">
        <a routerLink="/"><img src="assets/logo/logo-no-background.png"></a>
    </div>
    <div id="nav">
        <a routerLink="/">Home</a>
        <a routerLink="/thread_test">thread test</a>
        <a routerLink="More">More</a>
    </div>
    <div id="profile">
        <div id="dropdown">
            <button id="dropdown-btn" (click)="toggleDropdown()"></button>
            <div [@fadeInOut] *ngIf="isDropdownOpen" id="dropdown-menu">
                <div *ngIf="isLoggedIn()">  </div>
                <ul *ngIf="!isLoggedIn()">
                    <a routerLink="/about" (click)="toggleDropdown()">about</a>
                    <a routerLink="/contact" (click)="toggleDropdown()">contact</a>
                    <div class="separator"></div>
                    <a routerLink="/login" (click)="toggleDropdown()">login</a>
                    <a routerLink="/register" (click)="toggleDropdown()">register</a>
                </ul>
                <ul *ngIf="isLoggedIn()">
                    <a routerLink="/about" (click)="toggleDropdown()">about</a>
                    <a routerLink="/contact" (click)="toggleDropdown()">contact</a>
                    <div class="separator"></div>
                    <a routerLink="#" (click)="toggleDropdown()">profile</a>
                    <a routerLink="#" (click)="toggleDropdown()">friends</a>
                    <a routerLink="/" (click)="[toggleDropdown(), logout()]">logout</a>
                </ul>
            </div>
        </div>
    </div>
</header>
<div id="space"></div>
